[core]
	editor = vim
	autocrlf = input
	safecrlf = true
[merge]
	tool = vimdiff
[alias]
	st = status
	ci = commit -v
	cia = commit -a
	co = checkout
	cob = checkout -b
	br = branch
	branches = branch -avv
	bra = branch -avv
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	graph = log --all --graph --decorate --oneline -n30
	aa= !git add -A && git status
	alias = config --get-regexp 'alias.*'

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[user]
	name = Alnilam
	email = alnilam@gmail.com
